<div class="p">
<%= link_to "情報登録", candidates_c_new_path%>
</div>

<body>
<ul>
    <div class="main_img">
    <li>
    <div class="col-sm-4">
    <a href="guitargirl.html"><img class="img_mini" src= "<%=asset_path'guitargirl_pf.png'%>" alt="guitargirl"></a>
    </div>
    <p>guitar_girl</p>
    </li>
        <li>
    <div class="col-sm-4">
    <a href="schoolboy.html"><img class="img_mini" src= "<%=asset_path'schoolboy_pf.png'%>" alt="schoolboy"></a>
    </div>
    <p>school_boy</p>
    </li>
    <li>
      <div class="col-sm-4">
    <a href="tsunderegirl.html"><img class="img_mini" src= "<%=asset_path'tsunderegirl_pf.png'%>" alt="tsunderegirl"></a>
       </div>
       <p>tsundere_girl</p>
       </li>
       </div>
       </ul>
</body>
<% @pictures.each do |picture| %>
  <%= picture.image %>
  <%= picture.caption %>

  <% end %>
 

  